[Unit]
Description=The webserver for bodyweight-routine
Documentation=https://github.com/bcokert/bodyweight-routine

[Service]
Type=simple
PIDFile=/run/bodyweight-routine.pid
ExecStart=/opt/bodyweight-routine/webserver --production
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
